.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo{
  width: 100px;
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
  padding:0px 20px;
}

.nav-items > ul> li{
  padding: 10px;
  margin: 5px;
}

.res-card{
  width: 200px;
  height: 350px;
  padding: 5px;
  margin:5px;
}
.res-card:hover{
  /* border: 0.5px solid black; */
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
}
.search{
  padding:10px;
}
.res-logo{
  /* max-width: 100%; */
  aspect-ratio: 1.5/1;
  object-fit: cover;
  width: 100%;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.filter-btn{
  margin:10px;
  cursor: pointer;
}
.shimmer-cards{
  width: 200px;
  height: 350px;
  padding: 5px;
  margin:5px;
  background-color: gray;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.login{
  padding: 0px 20px;
  cursor:pointer;
}